p {
font-family: Times New Roman;
font-size: 40px;
font-weight: bold;
color: LightYellow;
}
body {
font-family: Times New Roman;
font-size: 30px;
color: LightYellow;
background-image: url("Фон.jpg");
}
a {
font-family: Times New Roman;
font-size: 30px;
font-weight: bold;
color: DodgerBlue;
}
h1 {
font-family: Times New Roman;
font-size: 50px;
font-weight: bold;
color: DodgerBlue;
}
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }